.Galh {
    font-size: 20px;
    height: 15vh;
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Galmain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

.Galt1, .Galt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}
.Gatt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 70%;
    margin-top: 20px;
}

.Galt1 {
    width: 50%;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: white;
}

.Galt2{
    /* border: 1px solid brown; */
}

.Galt1:hover, .Galt1::after{
    margin-top: 10px;
}

img{
    width: 50%;
    height: 50%;
    margin: 20px;
}

*{
 font-size: 12px;
}

h2{
    font-size: 30px;
}